.coffee-page-image {
    display: flex;
    height: 300px;
    width: auto;
    align-items: center;
    justify-content: center;

}

.coffee-container {
    float: left;
    padding-right: 30px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}

.description {
    padding-right: 10px;
}

.title {
    padding-left: 20px;
}
